name: Test dns look up functions

on:
    push:
      branches:["main"]

jobs:
  deploy:
    runs-on:ubuntu-latest

    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: "22"

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test

      